<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sneha.googlesignin">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:icon="@drawable/download"
        android:label="@string/app_name"
        android:roundIcon="@drawable/download"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NoteEditorActivity3"
            android:theme="@style/MyTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".GoalSetting"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme"/>
        <activity android:name=".EditCompanyProfile" />
        <activity android:name=".DisplayCompanyProfile" />
        <activity android:name=".ComponyProfile" />
        <activity
            android:name=".ComponyProfile1"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".EditOther"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Other1"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".RequestFeature"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SocialMediaName"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".ReminderPassport"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />

        <activity android:name="com.facebook.accountkit.ui.AccountKitActivity" />

        <meta-data
            android:name="com.facebook.accountkit.FacebookAppEventsEnabled"
            android:value="false" />

        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityFront"
            android:label="@string/title_activity_front"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OperatingSystemName"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".DisplayDrivingLicense"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DrivingLicense1"
            android:label="MyPA : Driving License"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".EditDrivingLicense"
            android:label="MyPA : Driving License"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DrivingLicense"
            android:label="MyPA : Driving License"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DebitCredit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CardName"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".BankName"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".UnderDevelopment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditSocial"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.example.sneha.googlesignin" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".allap"
            android:screenOrientation="portrait" />
        <activity
            android:name=".allsensitive"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Passport"
            android:label="MyPA : Passport"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".voterid"
            android:label="MyPA : Voter ID"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pancard"
            android:label="MyPA : PAN Card"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DisplaySystemDetail"
            android:label="MyPA : System Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditSystemLogins"
            android:label="MyPA : System Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SystemLogins1"
            android:label="MyPA : System Login"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".SystemLogin"
            android:label="MyPA : System Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aadhar"
            android:label="MyPA : Aadhaar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Banking_card"
            android:label="MyPA : Banking Card"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Account_details"
            android:label="MyPA : Bank Account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Membership"
            android:label="MyPA : Membership"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Wifipass"
            android:label="MyPA : Wi-Fi "
            android:screenOrientation="portrait" />
        <activity
            android:name=".Other"
            android:label="MyPA : Other"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Remainder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PurchaseList"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Bussiness"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".StickyNotes"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Evisiting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TodoNew"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".NoteEditorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".NoteEditorActivity1"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".SocialSites"
            android:label="MyPA : Social Networking"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Mail"
            android:label="MyPA : Email Account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OnlineSites"
            android:label="MyPA : Online Account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Site1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StdCode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BussinessContact"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Passport1"
            android:label="MyPA : Passport"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DislayPassportDetail"
            android:label="MyPA : Passport"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditPassport"
            android:label="MyPA : Passport"
            android:screenOrientation="portrait" />
        <activity
            android:name=".voterid1"
            android:label="MyPA : Voter ID"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".DisplayVoterDetails"
            android:label="MyPA : Voter ID"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditVoter"
            android:label="MyPA : Voter ID"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pancard1"
            android:label="MyPA : PAN Card"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".DisplayPanDetails"
            android:label="MyPA : PAN Card"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditPan"
            android:label="MyPA : PAN Card"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aadhar1"
            android:label="MyPA : Aadhaar"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".DisplayAadharDetails"
            android:label="MyPA : Aadhaar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditAadhar"
            android:label="MyPA : Aadhaar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".membership1"
            android:label="MyPA : Membership"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".DisplayMembershipDetails"
            android:label="MyPA : Membership"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditMember"
            android:label="MyPA : Membership"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Wifipass1"
            android:label="MyPA : Wi-Fi"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".DisplayWifi"
            android:label="MyPA : Wi-Fi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditWifi"
            android:label="MyPA : Wi-Fi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SocialSites1"
            android:label="MyPA : Social Networking"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".DisplaySocial"
            android:label="MyPA : Social Networking"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Mail1"
            android:label="MyPA : Email Account"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".DisplayMailDetails"
            android:label="MyPA : Email Account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditMail"
            android:label="MyPA : Email Account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OnlineSites1"
            android:label="MyPA : Online Account"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".DisplayOnlineDetails"
            android:label="MyPA : Online Account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditOnline"
            android:label="MyPA : Online Account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Insurance"
            android:label="MyPA : Insurance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Insurance1"
            android:label="MyPA : Insurance"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".DisplayInsurance"
            android:label="MyPA : Insurance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditInsurance"
            android:label="MyPA : Insurance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BankingCard1"
            android:label="MyPA : Banking Card"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".DisplayBanking"
            android:label="MyPA : Banking Card"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditBanking"
            android:label="MyPA : Banking Card"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Account1"
            android:label="MyPA : Bank Account"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".DisplayAccount"
            android:label="MyPA : Bank Account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditAccount"
            android:label="MyPA : Bank Account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditRemoteLogin"
            android:label="MyPA : Remote Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DisplayRemoteDetail"
            android:label="MyPA : Remote Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RemoteLogin"
            android:label="MyPA : Remote Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RemoteLogin1"
            android:label="MyPA : Remote Login"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".NoteEditorActivity2"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".RemainderHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ButtonPage1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditElectricity"
            android:label="MyPA : Electricity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DisplayElectricity"
            android:label="MyPA : Electricity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Electricity1"
            android:label="MyPA : Electricity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".DisplayGas"
            android:label="MyPA : Gas Connection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Electricity"
            android:label="MyPA : Electricity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditGas"
            android:label="MyPA : Gas Connection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Gas"
            android:label="MyPA : Gas Connection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Gas1"
            android:label="MyPA : Gas Connection"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />

        <receiver android:name=".AlarmReceiverPassport" />
    </application>

</manifest>