<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sneha.googlesignin">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:icon="@drawable/download"
        android:label="@string/app_name"
        android:roundIcon="@drawable/download"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.NoteEditorActivity3"
            android:theme="@style/MyTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.GoalSetting"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme"/>
        <activity android:name=".Activity.EditCompanyProfile" />
        <activity android:name=".Activity.DisplayCompanyProfile" />
        <activity android:name=".Activity.ComponyProfile" />
        <activity
            android:name=".Activity.ComponyProfile1"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Activity.EditOther"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Other1"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Activity.RequestFeature"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SocialMediaName"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Activity.ReminderPassport"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />

        <activity android:name="com.facebook.accountkit.ui.AccountKitActivity" />

        <meta-data
            android:name="com.facebook.accountkit.FacebookAppEventsEnabled"
            android:value="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />


        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ActivityFront"
            android:label="@string/title_activity_front"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.OperatingSystemName"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Activity.DisplayDrivingLicense"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DrivingLicense1"
            android:label="MyPA : Driving License"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Activity.EditDrivingLicense"
            android:label="MyPA : Driving License"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DrivingLicense"
            android:label="MyPA : Driving License"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DebitCredit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CardName"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Activity.BankName"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Activity.UnderDevelopment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditSocial"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Activity.AlarmReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.example.sneha.googlesignin" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activity.allap"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.allsensitive"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Activity.Passport"
            android:label="MyPA : Passport"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Activity.voterid"
            android:label="MyPA : Voter ID"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.pancard"
            android:label="MyPA : PAN Card"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DisplaySystemDetail"
            android:label="MyPA : System Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditSystemLogins"
            android:label="MyPA : System Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SystemLogins1"
            android:label="MyPA : System Login"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Activity.SystemLogin"
            android:label="MyPA : System Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.aadhar"
            android:label="MyPA : Aadhaar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Banking_card"
            android:label="MyPA : Banking Card"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Account_details"
            android:label="MyPA : Bank Account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Membership"
            android:label="MyPA : Membership"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Wifipass"
            android:label="MyPA : Wi-Fi "
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Other"
            android:label="MyPA : Other"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Remainder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PurchaseList"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Activity.Bussiness"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Activity.StickyNotes"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Activity.Evisiting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TodoNew"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Activity.NoteEditorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Activity.NoteEditorActivity1"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Activity.SocialSites"
            android:label="MyPA : Social Networking"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Mail"
            android:label="MyPA : Email Account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.OnlineSites"
            android:label="MyPA : Online Account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Site1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.StdCode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.BussinessContact"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Passport1"
            android:label="MyPA : Passport"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DislayPassportDetail"
            android:label="MyPA : Passport"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditPassport"
            android:label="MyPA : Passport"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.voterid1"
            android:label="MyPA : Voter ID"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Activity.DisplayVoterDetails"
            android:label="MyPA : Voter ID"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditVoter"
            android:label="MyPA : Voter ID"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.pancard1"
            android:label="MyPA : PAN Card"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Activity.DisplayPanDetails"
            android:label="MyPA : PAN Card"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditPan"
            android:label="MyPA : PAN Card"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.aadhar1"
            android:label="MyPA : Aadhaar"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Activity.DisplayAadharDetails"
            android:label="MyPA : Aadhaar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditAadhar"
            android:label="MyPA : Aadhaar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.membership1"
            android:label="MyPA : Membership"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Activity.DisplayMembershipDetails"
            android:label="MyPA : Membership"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditMember"
            android:label="MyPA : Membership"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Wifipass1"
            android:label="MyPA : Wi-Fi"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Activity.DisplayWifi"
            android:label="MyPA : Wi-Fi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditWifi"
            android:label="MyPA : Wi-Fi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SocialSites1"
            android:label="MyPA : Social Networking"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Activity.DisplaySocial"
            android:label="MyPA : Social Networking"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Mail1"
            android:label="MyPA : Email Account"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Activity.DisplayMailDetails"
            android:label="MyPA : Email Account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditMail"
            android:label="MyPA : Email Account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.OnlineSites1"
            android:label="MyPA : Online Account"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Activity.DisplayOnlineDetails"
            android:label="MyPA : Online Account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditOnline"
            android:label="MyPA : Online Account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Insurance"
            android:label="MyPA : Insurance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Insurance1"
            android:label="MyPA : Insurance"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Activity.DisplayInsurance"
            android:label="MyPA : Insurance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditInsurance"
            android:label="MyPA : Insurance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.BankingCard1"
            android:label="MyPA : Banking Card"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Activity.DisplayBanking"
            android:label="MyPA : Banking Card"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditBanking"
            android:label="MyPA : Banking Card"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Account1"
            android:label="MyPA : Bank Account"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Activity.DisplayAccount"
            android:label="MyPA : Bank Account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditAccount"
            android:label="MyPA : Bank Account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditRemoteLogin"
            android:label="MyPA : Remote Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DisplayRemoteDetail"
            android:label="MyPA : Remote Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.RemoteLogin"
            android:label="MyPA : Remote Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.RemoteLogin1"
            android:label="MyPA : Remote Login"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Activity.NoteEditorActivity2"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Activity.allsensitive"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".Activity.RemainderHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ButtonPage1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditElectricity"
            android:label="MyPA : Electricity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DisplayElectricity"
            android:label="MyPA : Electricity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Electricity1"
            android:label="MyPA : Electricity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Activity.DisplayGas"
            android:label="MyPA : Gas Connection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Electricity"
            android:label="MyPA : Electricity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditGas"
            android:label="MyPA : Gas Connection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Gas"
            android:label="MyPA : Gas Connection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Gas1"
            android:label="MyPA : Gas Connection"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />

        <receiver android:name=".Activity.AlarmReceiverPassport" />
    </application>

</manifest>